@charset "UTF-8";

body {
        background-color: #5f5f5f;
        background-image: url("doombg.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
}

h1{
        color: white;
        font-size: 4vw;
        font-family: "MS Gothic";
}

h2{
        color: white;
        font-size: 2vw;
        font-family: "MS UI Gothic";
}

h3{
        color: white;
        font-size: 1.5vw;
        font-family: "MS UI Gothic";
}



.quizzie {
        width: 200px;
        position:absolute;
        left:10px;
        top:10px;
}

.logo {
        margin-top: 2%;
        width: 500px;
        margin-bottom: 6%;

        opacity: 0;
        transform: translate3d(0, -50px, 0);  
        cursor: pointer;
        transition: 0.5s all ease-in-out;
}

.ary {
        width: 200px;
}

.div1 {
        clear: both;
        width: 88%;
        height: auto;
        display: none;
    }
.div2 {
        margin-top: 5%;
        display: none;
}

#div3 {
        clear: both;
        width: 88%;
        height: auto;

        opacity: 0;
        transform: translate3d(0, -50px, 0);   
        cursor: pointer;
        transition: 0.5s all ease-in-out;
    }
#div4 {
        margin-top: 5%;
        width: 88%;

        opacity: 0;
        transform: translate3d(0, -50px, 0); 
        cursor: pointer;
        transition: 0.5s all ease-in-out;
}

#div5 {
        margin-top: 10%;
        width: 40%;
}


#question2 {
        opacity: 0;
}

#ansbtn1 {
        background-color: #000000;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #e41146, #f58712);
        color: white;
        font-size: 2vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        width: 30vw;
        height: 7vw;
      }

      #ansbtn2 {
        background-color: #000000;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #e41146, #f58712);
        color: white;
        font-size: 2vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        width: 30vw;
        height: 7vw;
      }

      #ansbtn3 {
        background-color: #000000;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #e41146, #f58712);
        color: white;
        font-size: 2vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        width: 30vw;
        height: 7vw;
      }
      #ansbtn4 {
        background-color: #000000;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #e41146, #f58712);
        color: white;
        font-size: 2vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        width: 30vw;
        height: 7vw;
      }

      #resbtn1 {
        background-color: #000000;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #e41146, #f58712);
        color: white;
        padding: 20px;
        font-size: 4vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        display: none;
      }

      #startbtn1 {
        background-color: #000000;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #e41146, #f58712);
        color: white;
        padding: 20px;
        font-size: 4vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
      }

      #startbtn2 {
        background-color: #000000;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #e41146, #f58712);
        color: white;
        padding: 20px;
        font-size: 4vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        display: none;
      }


#ansbtn1:hover {background-color: #530400;}  
#ansbtn2:hover {background-color: #530400;}  
#ansbtn3:hover {background-color: #530400;}  
#ansbtn4:hover {background-color: #530400;}
#resbtn1:hover {background-color: #530400;}
#startbtn1:hover {background-color: #530400;}
#startbtn2:hover {background-color: #530400;}

#ans1, #ans2, #ans3, #ans4, #ans5, #ans6, #ans7, #ans8, #ans9, #ans10, #score {
        display: none;
}

#ans1 b {
        color: #ff0000;
}
#ans2 b {
        color: #ff0000;
}
#ans3 b {
        color: #ff0000;
}
#ans4 b {
        color: #ff0000;
}
#ans5 b {
        color: #ff0000;
}
#ans6 b {
        color: #ff0000;
}
#ans7 b {
        color: #ff0000;
}
#ans8 b {
        color: #ff0000;
}
#ans9 b {
        color: #ff0000;
}
#ans10 b {
        color: #ff0000;
}
