@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2d2d2d;
  background-image: url("media/bodybg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  font-family: 'Rubik', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  overflow: hidden;

}

.quizzie {
  width: 200px;
  position:absolute;
  left:10px;
  top:10px;

}

.center {
  margin: auto;
  width: 88%;
  padding: 10px;
  height: 600px;
  display: flex;
  bottom: 15%;
  left: 0;
  right: 0;
  position: fixed;
}


.text{
  margin: auto;
  width: 50%;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.text h1{
  font-size: 80px;
}

.text h2{
  margin-top: 20px;
  font-size: 30px;
  font-weight: 300;
}

h3{
  font-weight: 100;
  right: 100px;
  margin-top: 10px;
}

h3:hover{
  text-decoration: underline;
  cursor: pointer;
}


/*
================================
        Card 1 RDR2
================================
*/

.card1, .card2, .card3{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.flip-card {
  background-color: transparent;
  width: 500px;
  height: 600px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
  border-radius: 15px;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.flip-card-back p {
  margin: auto;
  width: 80%;
  text-align: left;
}

.flip-card-front img {
  width: 500px;
  height: 600px;
  border-radius: 10px;
}


button {
  width: 300px;
  height: 60px;
  margin-top: 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 50px;
  font-size: 25px;
  transition: 0.6s;
}

button:hover {
  background-color: rgb(100, 100, 100);
  cursor: pointer;
}


.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

#popup1{
  margin: auto;
  width: 50%;
  background-color: white;
  width: 700px;
  height: 320px;
  position: relative;
  z-index: 2;
  border-radius: 6px;
  border: 3px solid rgb(214, 0, 0);
  padding: 18px;
  display: none;
}

#popup2{
  margin: auto;
  width: 50%;
  background-color: white;
  width: 700px;
  height: 320px;
  position: relative;
  z-index: 2;
  border-radius: 6px;
  border: 3px solid rgb(4, 116, 168);
  padding: 18px;
  display: none;
}

#popup3{
  margin: auto;
  width: 50%;
  background-color: white;
  width: 700px;
  height: 320px;
  position: relative;
  z-index: 2;
  border-radius: 6px;
  border: 3px solid rgb(43, 173, 4);
  padding: 18px;
  display: none;
}

#popup1 p, #popup2 p, #popup3 p  {
  font-size: 20px;
}


#blur{
  background-color: black;
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  opacity: 0.5;
  display: none;
}

#x {
  position: absolute;
  top: 0;
  right: 15px;
  color: red;
  font-weight: 800;
  font-size: 40px;
 cursor: pointer;
}

#x:hover{
  color: rgb(169, 2, 2);
}