@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");

/*
=================================
             Body
=================================
*/

body {
  background-color: #2d2d2d;
  background-image: url("rdr2bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  overflow-x: hidden;
}

hr {
  border: 1px solid white;
  border-radius: 50px;
  width: 80%;
}

.quizzie {
  width: 200px;
  position:absolute;
  left:10px;
  top:10px;
}

h1 {
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  text-shadow: 2px 2px 4px #000000;
}

.logo {
  margin-top: 2%;
  width: 400px;

  opacity: 0;
  transform: translate3d(0, -50px, 0);
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.div1 {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  transition: 0.5s all ease-in-out;
}

.div2 {
  opacity: 0;
  transform: translate3d(0, -100px, 0);
  transition: 0.5s all ease-in-out;
}

.vraagnr{
  opacity: 0;
  transform: translate3d(0, -100px, 0);
  transition: 0.5s all ease-in-out;
}



/*
=================================
             Buttons
=================================
*/

button{
  cursor: pointer;
}

#naam{
  position: absolute;
left:    30px;
bottom:   30px;
width: 250px;
height: 50px;
border: none;
border-radius: 50px;
color: black;
background-color: white;
transition: 0.6s;
font-size: 20px;
}

#naam:hover{
background-color: #000000;
color: white;
}

#ansbtn1,
#ansbtn2,
#ansbtn3,
#ansbtn4 {
  background-color: #c91616;
  border: 3px solid black;
  border-image-slice: 1;
  border-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 25px;
  font-size: 40px;
  font-weight: 600;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  width: 350px;
  border-radius: 5px;
}

#resbtn1 {
  background-color: #c91616;
  border: 3px solid black;
  border-image-slice: 1;
  border-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 25px;
  font-size: 40px;
  font-weight: 600;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  width: 400px;
  border-radius: 5px;
  display: none;
}

#ansbtn1:hover {
  background-color: #8d1711;
}

#ansbtn2:hover {
  background-color: #8d1711;
}

#ansbtn3:hover {
  background-color: #8d1711;
}

#ansbtn4:hover {
  background-color: #8d1711;
}

#resbtn1:hover {
  background-color: #8d1711;
}


/*
=================================
           Resultaat
=================================
*/

#resultaat {
  margin-top: 50px;
  color: white;
  font-size: 80px;
  font-weight: 800;
}