@charset "UTF-8";

body {
        background-color: #5f5f5f;
        background-image: url("Jett.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-size: 100%;
}

h1{
        color: white;
        font-size: 4vw;
}

h2{
        color: white;
        font-size: 2vw;
}


.quizzie {
        margin-top: 2%;
        width: 200px;
        margin-bottom: 6%;
        position: absolute;
}

.logo {
        margin-top: 2%;
        width: 500px;
        margin-bottom: 6%;

        opacity: 0;
        transform: translate3d(0, -50px, 0);  
        cursor: pointer;
        transition: 0.5s all ease-in-out;
}

.div1 {
        clear: both;
        width: 88%;
        height: auto;
        display: none;
    }
.div2 {
        margin-top: 5%;
        display: none;
}

#div3 {
        clear: both;
        width: 88%;
        height: auto;

        opacity: 0;
        transform: translate3d(0, -50px, 0);   
        cursor: pointer;
        transition: 0.5s all ease-in-out;
    }
#div4 {
        margin-top: 5%;

        opacity: 0;
        transform: translate3d(0, -50px, 0); 
        cursor: pointer;
        transition: 0.5s all ease-in-out;
}

#ansbtn1 {
        background-color: #000000;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #e41146, #f58712);
        color: white;
        font-size: 4vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        width: 30vw;
        height: 7vw;
      }

      #ansbtn2 {
        background-color: #000000;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #e41146, #f58712);
        color: white;
        font-size: 4vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        width: 30vw;
        height: 7vw;
      }

      #ansbtn3 {
        background-color: #000000;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #e41146, #f58712);
        color: white;
        font-size: 4vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        width: 30vw;
        height: 7vw;
      }
      #ansbtn4 {
        background-color: #000000;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #e41146, #f58712);
        color: white;
        font-size: 4vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        width: 30vw;
        height: 7vw;
      }

      #resbtn1 {
        background-color: #000000;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #e41146, #f58712);
        color: white;
        padding: 20px;
        font-size: 4vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        display: none;
      }

      #startbtn1 {
        background-color: #000000;
        border: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to left, #e41146, #f58712);
        color: white;
        padding: 20px;
        font-size: 4vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
      }


#ansbtn1:hover {background-color: #530400;}  
#ansbtn2:hover {background-color: #530400;}  
#ansbtn3:hover {background-color: #530400;}  
#ansbtn4:hover {background-color: #530400;}
#resbtn1:hover {background-color: #530400;}
#startbtn1:hover {background-color: #530400;}

#ans1, #ans2, #ans3, #ans4, #ans5, #ans6, #ans7, #ans8, #ans9, #ans10 {
        display: none;
}


.fadeIn {
        opacity: 0;
        transform: translate3d(0, -50px, 0); /* ADDED - start y position as -50px */
      
        cursor: pointer;
        transition: 0.25s all ease-in-out;
      }

