@charset "UTF-8";

body {
        background-color: #5f5f5f;
        background-image: url("Jett.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        font-family: "Poppins", "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
          sans-serif;
        overflow-x: hidden;
      }

h1{
        color: white;
        font-size: 2vw;
}

h2{
        color: white;
        font-size: 2vw;
}


.quizzie {
        width: 200px;
        position:absolute;
        left:10px;
        top:10px;
}

.logo {
        margin-top: 2%;
        width: 500px;
        margin-bottom: 6%;

        opacity: 0;
        transform: translate3d(0, -50px, 0);  
        cursor: pointer;
        transition: 0.5s all ease-in-out;
}

.div1 {
        clear: both;
        width: 88%;
        height: auto;
        display: none;
    }
.div2 {
        margin-top: 5%;
        display: none;
}

#div3 {
        clear: both;
        width: 88%;
        height: auto;

        opacity: 0;
        transform: translate3d(0, -50px, 0);   
        cursor: pointer;
        transition: 0.5s all ease-in-out;
    }
#div4 {
        margin-top: 5%;

        opacity: 0;
        transform: translate3d(0, -50px, 0); 
        cursor: pointer;
        transition: 0.5s all ease-in-out;
}

#ansbtn1,
#ansbtn2,
#ansbtn3,
#ansbtn4 {
  background-color: #6ed3f5;
  border: 3px solid black;
  border-image-slice: 1;
  border-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 2vw;
  font-weight: 600;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  width: 350px;
  border-radius: 5px;
}

      #resbtn1 {
        border-image-slice: 1;
        background-color: #6ed3f5;
        border: 3px solid black;
        color: white;
        padding: 20px;
        font-size: 2vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        display: none;
      }

      #startbtn1 {
        background-color: #6ed3f5;
        border: 3px solid black;
        border-image-slice: 1;
        color: white;
        padding: 20px;
        font-size: 2vw;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
      }


#ansbtn1:hover {background-color: #082759;}  
#ansbtn2:hover {background-color: #082759;}  
#ansbtn3:hover {background-color: #082759;}  
#ansbtn4:hover {background-color: #082759;}
#resbtn1:hover {background-color: #082759;}
#startbtn1:hover {background-color: #082759;}

#ans1, #ans2, #ans3, #ans4, #ans5, #ans6, #ans7, #ans8, #ans9, #ans10 {
        display: none;
}


.fadeIn {
        opacity: 0;
        transform: translate3d(0, -50px, 0); /* ADDED - start y position as -50px */
      
        cursor: pointer;
        transition: 0.25s all ease-in-out;
      }

